h4{
    color: rgb(146, 127, 255);
    border: 3px solid powderblue;
    padding: 3px;
    font-size: 30px;
}

/*comnetarios em css*/

body{
    padding-bottom: 500px;
    background-image: 
}

.marcelo{
    font-size: 30px;
    color: cadetblue;
    border: 5px solid rgb(37, 122, 201);
    background-color: blueviolet;
}

#cleyton{
    color: burlywood;
    background-color: blanchedalmond;
    border: 3px solid brown
}
/* 10 */

h2 {
    border-bottom: 2px solid rgb(51, 153, 136);
}
/* 11 */

.colorname{
    color:rgb(14, 50, 83)
}

/* 12 - hex*/
.hex{
    color: #55a398;
}
.hex-2{
   color: #00eaff;
}
.simple-hex{
    color: #333;
}

.simple-hex2{
    color: #a5f;
}

/* 14 - RGB */

.rgb{
    color: rgb(255,0,0);
}

.mixed-rgb{
    color: rgb(199,214,2);
}

.rgba{
    color: rgba(100, 199, 45, 0.3;)
}
/* 16 hsl */

.hsl{
    color: hsl(102, 57%, 27%);
}

.hsl-2{
    color: hsl(177, 77%, 42%);
}
 /* 17 Background */

.bg{
 background-color: black;
 color: aquamarine;
}

    .bg-2{ background-color: rgb(200, 12, 56);
color: rgb(59, 55, 55);
    }

    /* 18 Opacidade do BG */

.bgopacity{ background-color: #55a398;
 opacity: 0.3;    
}

.bgopacity-2{
background-color: #a5f;
color: cadetblue;
opacity: 0,1;
}

/* 19 RGB com opacidade*/ 
.rgba-opacity{
background-color: rgba(100, 199, 45, 0.3);
color: #00eaff;
}

/* 20 bg img */
.bg-image{
    padding: 340px;
    background-image: url(../img/palhaçotriste.jpg);
    color: darkorchid;
}

/* 21 centralizar img no bg */
.centered-bg,
.not-centered-bg
{
    background-image: url(../img/bridge.jpg);
    height: 400px;
    width: 400px;
}

.centered-bg{
    background-position: center;
    background-size: cover;
 } 
 /* 22 largura e altura */

 .without-padding{
    background-color: #333;
    color: aliceblue;
 }

 .padding{
    background-color: #55a398;
    padding: 20px;
 }
 /* 23 height1 */

.height1{
    height: 200px;
    width: 100px;
    background-color: #a5f;
}

.height2{
    height: 300px;
background-color: #333;
}

/* 24 Padding individual */

.padding-individual{
    background-color: #333;
    color: aliceblue;
    padding-top: 10px;
    padding-bottom: 55px;
    padding-left: 15px;
    padding-right: 20px;

/* ou padding: 10px 55px 15px 20px; */

}

/* 25 shorthand padding */

.shortpad{
    background-color: #333;
    color: antiquewhite;
    padding: 7px 14px 72px 24px;
}
.shortpad-2{
    background-color: #555;
    color: antiquewhite;
    /*padding: 10px 20px 10px 20px;*/
    padding: 10px 20px;
    
}

/* 26 */
.w-border-box{
background-color: #615a5a;
color: antiquewhite;
width: 400px;
padding: 50px
}

.border-box{
 background-color:#333 ;   
color: antiquewhite;
width: 400px;
padding: 50px;
box-sizing: border-box;
}

.border2{
    border: 10px solid red;
    padding: 15px;
}
    .border{
        border: 2px dotted blue;
        padding: 25px;
        background-color: #4e91a1;
    }
 /* 28 bordas individuais */


 .border-esquerda{
    border-left: 5px solid green;
 }

 .border-abaixo{
    border-bottom: 5px solid purple;
 }

 /* 29 bordas arreondadas */

 .arredondadas{
    border: 4px solid rgb(52, 146, 170);
    background-color: #333;
    color:#55a398;
    padding: 15px;
    border-radius: 25px;
 }

 .arredondadas2{
    background-color: #615a5a;
    color: #4e91a1;
    padding: 15px;
    border-radius: 25px;
 }

/* 30 margin */

.margin{
 margin: 10px;
 background-color: #4e91a1;
}
.margin2{
margin-top: 10px;
background-color: #4e7aa1;
}
.margin3{
margin: 5px 10px 15px 20px ;
background-color: #16a079;
}

/* 31 box model */

.boxmodel{
    margin: 20px;
    background-color: #00eaff;
    padding: 15px 25px 15px 25px;
    border: 3px solid rgb(23, 74, 102);
    border-radius: 7px;
    width: 200px;
    height: 400px;
}

/* 32 DESAFIO HARDCORE MERMÃO */

#modelbox-desafio{
    margin: 20px;
    background-color: #346d72;
    padding: 15px 25px 15px 25px;
    border: 3px solid rgb(46, 57, 62);
    border-radius: 7px;
    width: 200px;
    height: 400px;
    outline: 5px solid cadetblue;
}
 
.txtdesafio{
  color: #40cfa9;
  /* border: none;*/ 
}

.txtdesfio2{
    color: #16a079;
}


/* 33 Alinhando as coisas*/
.text-aligned{
       text-align: right;
}

.container-center{
       text-align: center;
       background-color: #346d72;
       width: 300px;
       border: 4px solid cadetblue;
       margin: 135px;
}

/* 34  */

.underline{
 text-decoration: underline;
}

    .line-trough{
text-decoration: line-through;
    }

.remover-underline{
text-decoration: none;
color: #4e7aa1;
}

/* 35 UPPER e lower */


.upper{
    text-transform: uppercase;
}

.lower{
    text-transform: lowercase;
}

/* 36 Espaçamento de texto*/

.spacing{
    letter-spacing: 7px;
}

/* 37  fontes*/

.serif{
 font-family: Georgia, 'Times New Roman', Times, serif;
}

.sans-serfi{
font-family: Arial, Helvetica, sans-serif 
}

.monospace{

font-family: 'Courier New', Courier, monospace;}
.cursive{
font-family:cursive;
}
.fantasy{
    font-family: fantasy;

}
/* 38 */
.italic{
font-style: italic ;
}

.oblique{
font-style: oblique;
}

/* 39 */
.without-padding{
font-weight: 100;
}

.bold{
font-weight: 700;
}

.bolder{
font-weight: 900;
}

/* 40 */

.small{
font-size: 7px;
}

.big{
font-size: 70px;
}

/* 41 */

.inline-box{
    width: 50px;
    height: 50px;
    background-color: #346d72;
    margin: 10px;
    display: inline-block;
}
 .block{
    background-color: #16a079;
    margin: 10px;
    display: block;
 }

/* 42 */

.invisible{
    display: none;
}

/* 43 */

.static{
    position: static;
    width: 50px;
    height: 50px;
    background-color: #346d72;
    margin: 10px;
}

/* 44 */
.relative{
    position: relative;
    background-color: #323d46;
    color: #24c0bb;

    width: 100px;
    height: 100px;
    top: 100px;
    left: 40px;
}

/* 45 */

.absolute{
    position: absolute;
    background-color: #323d46;
    color: azure;
    width: 100px;
    height: 100px;
    top: 2px;
    right:2px;
}

/* 46 */
.relative-container{
    width: 300px;
    height: 300px;
    border: 1px solid darkcyan;
    margin-top: 120px;
    position: relative;
}
 .absolute-1,
.absolute-2{
  width: 50px;
  height: 50px;
  background-color: #346d72;
  position: absolute;
}

.absolute-1{
    top:10px;
    left: 10px;
}

/* 47 */

.fixed{
    width: 100px;
    height: 100px;
    background-color: #346d72;
    border: 1px solid darkcyan;
    position: fixed;
    top: 50px;
    right: 50px;
    
}

/* 48 */

.sticky{
    width: 100px;
    height: 100px;
    background-color: #346d72;
    border: 1px solid darkcyan;
    position: sticky;
    top:10px;
}
/* 48+1 */
.absolute-3,
.absolute-4,
.absolute-5{
    width: 100px;
    height: 100px;
    background-color: #346d72;
    position: absolute;
    
}

.absolute-3{
    top: 0;
    left: 0;
    z-index: ;
}

.absolute-4{
    top: 10px;
    left: 10px;
    background-color: #4e7aa1;
    z-index: ;
}
 .absolute-5{
    top: 40px;
    left: 40px;
    background-color: #24c0bb;
    z-index: 3;
 }














