html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd
}

.container{
    background-color: #b2cad3;
    max-width: 1100px;
    padding: 20px 50px;
    margin: 50px auto;
    position: relative;
}
.bold{
    font-weight: bold;
}
.header{

    text-align: center
}
.main-title{
   font-size: 40px;
}

.main-paragraph{
    font-style: italic;
}
.featured-image{
    text-align: center;
    margin-top: 30px;

}

.biography-container{
    padding: 25px 0;
    border-top: 1px dashed whitesmoke;
    border-bottom: 1px dashed whitesmoke;
}

.quotes-container{
    background-color: #ddd;
    padding: 20px;
    margin: 30px;
}
.quotes-container blockquote{
   font-weight: bold;
   font-size: 30px;
}
.quotes-container p{
    font-style: italic;
}

.curiosites-container{
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed whitesmoke;
    border-bottom: 1px dashed whitesmoke;
}

    .curiosites-container li{
        height: 30px;

    }

    .imgbold{
        font-weight: bold;
        text-align: center;
    }